<nav aria-label="pagination py-8">
    <ul class="flex justify-between">
      <li class="py-4 text-xl font-medium text-blue-600">
        <button
          aria-label="Go To Previous Page"
          [attr.aria-disabled]="current_page === 1"
          [disabled]="current_page === 1"
          (click)="onPrevious()"
          
        >
          Previous
        </button>
      </li>
      <!-- <li *ngFor="let page of pages;">
        <a
          [attr.aria-current]="page === current_page ? 'page' : null"
          [attr.aria-label]="
            page === current_page ? 'Current Page, Page ' + page : 'Go to Page ' + page
          "
          [class.current]="page === current_page"
          tabindex="0"
          (click)="onGoTo(page)"
          (keyup.enter)="onGoTo(page)"
          >
  {{ page }}</a
        >
      </li> -->
      <li class="py-4 text-xl font-medium text-blue-600" [ngClass]="{disable: current_page === total_pages}">
        <button class=''
          aria-label="Go To Next Page"
          [attr.aria-disabled]="current_page === total_pages"
          [disabled]="current_page === total_pages"
          (click)="onNext()"
        >
          Next
        </button>
      </li>
      
    </ul>
