<div class="mt-5 text-slate-500 sm:border md:border border-slate-500 rounded-md py-4 px-2 sm:px-6">
    <div class="pb-4">
      <h1 class="text-2xl font-medium pb-3">{{total}} Users</h1>
      <hr class="">
    </div>
     <app-user *ngFor="let user of users"  [user]="user"  (onSearchInfo)="searchInfo(user.login)"></app-user>
     <app-pagination  [current_page]="current_page"
     [total]="total"
     (goTo)="onGoTo($event)"
     (next)="onNext($event)"
     (previous)="onPrevious($event)"></app-pagination>
  
  </div>
  
